<a href="https://colab.research.google.com/github/christianjoliver/Colab-Notebooks/blob/main/DSA_Fundamentals_of_the_python_language_for_data_analysis_and_data_science_Cap1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Parte introdutória do curso (Relembrando Python)

##Calculando área do paralelogramo

1. Imprima "Calculadora área do Paralelogramo"
2. Leia e armazene do usuário o comprimento da base
3. Leia e armazene do usuário o comprimento da altura
4. Imprima o cálculo da área do paralelogramo

In [63]:
print("Calculadora área do Paralelogramo")
base = float(input("Digite o comprimento da base: "))
altura = float(input("Digite o comprimento da altura: "))
print("A área do paralelogramo é: ", base*altura)

Calculadora área do Paralelogramo
Digite o comprimento da base: 4
Digite o comprimento da altura: 4
A área do paralelogramo é:  16.0

## Calculadora simples

Início
1. Imprima "Calculadora Simples"
2. Leia e armazene do usuário o valor do primeiro número
3. Leia e armazene do usuário o valor do segundo número
4. Leia o sinal referente à operação que o usuário deseja realizar entre esses dois números
5. Imprima o resultado da operação entre os dois números

Fim

In [99]:
print("Calculadora Simples")
n1 = float(input("Digite o Primeiro Número: "))
n2 = float(input("Digite o Segundo Número: "))
op = input("Digite a operação (+, -, /, *): ")

if op == "+":
    result = n1 + n2
elif op == "-" :
    result = n1 - n2
elif op == "*":
    result = n1*n2
elif op == "/":
    result = n1/n2

print("O resultado é: ", result)

Calculadora Simples
Digite o Primeiro Número: 1
Digite o Segundo Número: 1
Digite a operação (+, -, /, *): -
O resultado é:  0.0

## Bubble Sort

Inicio

    Para cada elemento i do array de tamanho n
        Para cada elemento j do array de tamanho n-1
            Se i > j:
                troque i com j

Fim

In [100]:
import random

tam = 10

# Gerando lista com números aleatórios num intervalo de 1 a 10
lst_num = [random.randint(1, 10) for i in range(tam)]
print(lst_num)

# Funcao que executa o algoritmo BubbleSort
def BubbleSort(arr):
    for i in range(len(arr)):
        for j in range(len(arr)-i-1):
            if lst_num[j] > lst_num[j+1]:
                lst_num[j], lst_num[j+1] = lst_num[j+1], lst_num[j]
    return arr

print(BubbleSort(lst_num))

[5, 10, 5, 5, 1, 2, 5, 2, 9, 7]
[1, 2, 2, 5, 5, 5, 5, 7, 9, 10]

## Relembrando strings, listas, dicionários, tuplas e propriedades

### Strings

In [101]:
#indexação de strings

s = "Aprender Python é Bacana"
print(s)

Aprender Python é Bacana

In [102]:
print(s[:3]) #imprimindo sequência de caracteres até o index 3

Apr

In [103]:
print(s[:-1]) #imprimindo caracteres até o index -1, ou seja o último caractere

Aprender Python é Bacan

In [104]:
print(s[::3]) #imprime 1 salta 2

AeePh Ba

In [105]:
print(s[::-1]) #inverte a sequência de caracteres

anacaB é nohtyP rednerpA

In [106]:
print(s[4:]) #do quarto caractere pra frente

nder Python é Bacana

### Listas

In [107]:
lista = ["Cientista de Dados", "Engenheiro de Dados"]
lista

['Cientista de Dados', 'Engenheiro de Dados']

In [108]:
lista.append("Analista de Dados") #inserindo elementos em uma lista criada
lista

['Cientista de Dados', 'Engenheiro de Dados', 'Analista de Dados']

In [109]:
# Copiando elementos de uma lista na outra

lst1 = ["Banana", "Maçã", "Jabuticaba", "Pêra"]
lst2 = []

for item in lst1:
    lst2.append(item)

print(lst2)

lst2.append("Jaca") #acrescentando "Jaca" na lista 2
del lst1[1] #removendo Maçã da lista 1

print(lst2)
print(lst1)

['Banana', 'Maçã', 'Jabuticaba', 'Pêra']
['Banana', 'Maçã', 'Jabuticaba', 'Pêra', 'Jaca']
['Banana', 'Jabuticaba', 'Pêra']

In [110]:
# Inserindo vários elementos de uma só vez na lista

lst2.extend(["Kiwi", "Jamelão"])
print(lst2)

['Banana', 'Maçã', 'Jabuticaba', 'Pêra', 'Jaca', 'Kiwi', 'Jamelão']

In [111]:
# Podemos também recuperar o índice referente a cada um dos elementos

teste = lst2.index("Pêra")
teste

3

In [112]:
# Podemos também inserir um elemento numa posição específica, assim "empurrando os elementos à frente"

lst2.insert(2, "Abacaxi")
lst2

['Banana', 'Maçã', 'Abacaxi', 'Jabuticaba', 'Pêra', 'Jaca', 'Kiwi', 'Jamelão']

In [113]:
# Podemos também removê-lo
lst2.remove("Abacaxi")
lst2

['Banana', 'Maçã', 'Jabuticaba', 'Pêra', 'Jaca', 'Kiwi', 'Jamelão']

In [114]:
# Podemos também inverter os elementos da lista
lst2.reverse()
lst2

['Jamelão', 'Kiwi', 'Jaca', 'Pêra', 'Jabuticaba', 'Maçã', 'Banana']

In [115]:
# Podemos também ordenar os elementos da lista

In [116]:
lst2.sort()
lst2

['Banana', 'Jabuticaba', 'Jaca', 'Jamelão', 'Kiwi', 'Maçã', 'Pêra']

### Dicionários

Os dicionários tem uma propriedade específica que "amarra" pares "Chave x Valor", por exemplo, no caso abaixo conseguimos amarrar a chave "nome" com o valor "idade"

In [117]:
# criando o dicionário
estudantes_dic = {"Ana": 25, "Bruno": 22, "Carlos":24, "Daniel":30}
estudantes_dic

{'Ana': 25, 'Bruno': 22, 'Carlos': 24, 'Daniel': 30}

In [118]:
# adicionando elementos ao dicionário
estudantes_dic["Marcelo"] = 23
estudantes_dic

{'Ana': 25, 'Bruno': 22, 'Carlos': 24, 'Daniel': 30, 'Marcelo': 23}

In [119]:
# com essa sintaxe podemos também atualizar os elementos já existentes
estudantes_dic["Marcelo"] = 24
estudantes_dic

{'Ana': 25, 'Bruno': 22, 'Carlos': 24, 'Daniel': 30, 'Marcelo': 24}

In [120]:
# Podemos também retornar as chaves, os valores e os itens

print(estudantes_dic.keys())
print(estudantes_dic.values())
print(estudantes_dic.items())

dict_keys(['Ana', 'Bruno', 'Carlos', 'Daniel', 'Marcelo'])
dict_values([25, 22, 24, 30, 24])
dict_items([('Ana', 25), ('Bruno', 22), ('Carlos', 24), ('Daniel', 30), ('Marcelo', 24)])

In [121]:
# Podemos também atualizar um dicionário com outro dicionário
estudantes_dic2 = {"Bárbara":24, "Márcio":22}
estudantes_dic.update(estudantes_dic2)
estudantes_dic

{'Ana': 25,
 'Bruno': 22,
 'Carlos': 24,
 'Daniel': 30,
 'Marcelo': 24,
 'Bárbara': 24,
 'Márcio': 22}

In [122]:
# É possível também aninhar listas dentro de dicionários, por exemplo

dados_alunos = {"Ana":["fem", 24, 123], "Bruno":["mas", 22, 123], "Carlos":["mas", 25, 123], "Daniel":["mas", 23, 123]}
dados_alunos

{'Ana': ['fem', 24, 123],
 'Bruno': ['mas', 22, 123],
 'Carlos': ['mas', 25, 123],
 'Daniel': ['mas', 23, 123]}

In [123]:
# A partir disso, é possível realizar operações mais complexas sob um dicionário
# Neste caso, pegamos cada primeiro elemento-valor de cada uma das chaver do dicionário e colocamos em uppercase.

for chave, lista_valores in dados_alunos.items():
    lista_valores[0] = lista_valores[0].upper()

print(dados_alunos)

{'Ana': ['FEM', 24, 123], 'Bruno': ['MAS', 22, 123], 'Carlos': ['MAS', 25, 123], 'Daniel': ['MAS', 23, 123]}

### Tuplas

As tuplas são listas imutáveis. Esse objeto não permite nenhum tipo de modificação (inserção, deleção, atualização..)

In [124]:
tuple1 = ("Matemática", 10, "Geografia", 8, "Ciência", 10)
tuple1

('Matemática', 10, 'Geografia', 8, 'Ciência', 10)

In [125]:
# As tuplas permitem a utilização de fatiamento, indexação e outras funções

tuple1[:2]

('Matemática', 10)

## Exercícios referentes aos conteúdos até agora

### Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [126]:
lst_int = list(range(1,11))
lst_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [127]:
lst_obj = ["Abacaxi", "Banana", "Caju", "Damasco", "Kiwi"]
lst_obj

['Abacaxi', 'Banana', 'Caju', 'Damasco', 'Kiwi']

### Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [128]:
string1 = "Python"
string2 = " é muito é massa"
string3 = string1 + string2
string3

'Python é muito é massa'

### Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [129]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

### Exercício 5 - Crie um dicionário vazio e imprima na tela

In [130]:
dic1 = {}
dic1

{}

### Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [131]:
dic2 = {"Ana":10, "Breno":11, "Carlos":12}
dic2

{'Ana': 10, 'Breno': 11, 'Carlos': 12}

### Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [132]:
dic2["Daniel"]=13
dic2

{'Ana': 10, 'Breno': 11, 'Carlos': 12, 'Daniel': 13}

### Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. Imprima o dicionário na tela.

In [133]:
dic3 = {"Ana":[10, 10.4], "Breno":11, "Carlos":12}
dic3

{'Ana': [10, 10.4], 'Breno': 11, 'Carlos': 12}

### Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista.

In [136]:
lis_mult = ["Mário", ("999.999.999", "9.999.999"), {"Aposentado":9999, "Aprovado":10000}, 22.4]
print(lis_mult)

['Mário', ('999.999.999', '9.999.999'), {'Aposentado': 9999, 'Aprovado': 10000}, 22.4]

### Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.

frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [141]:
frase = "Cientista de Dados é o profissional mais sexy do século XXI"
frase[0:18]

'Cientista de Dados'