<a href="https://colab.research.google.com/github/christianjoliver/Colab-Notebooks/blob/main/DSA_Fundamentals_of_the_python_language_for_data_analysis_and_data_science_Cap1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Parte introdutória do curso (Relembrando Python)

##Calculando área do paralelogramo

1. Imprima "Calculadora área do Paralelogramo"
2. Leia e armazene do usuário o comprimento da base
3. Leia e armazene do usuário o comprimento da altura
4. Imprima o cálculo da área do paralelogramo

In [25]:
print("Calculadora área do Paralelogramo")
base = float(input("Digite o comprimento da base: "))
altura = float(input("Digite o comprimento da altura: "))
print("A área do paralelogramo é: ", base*altura)

Calculadora área do Paralelogramo
Digite o comprimento da base: 4
Digite o comprimento da altura: 4
A área do paralelogramo é:  16.0

## Calculadora simples

Início
1. Imprima "Calculadora Simples"
2. Leia e armazene do usuário o valor do primeiro número
3. Leia e armazene do usuário o valor do segundo número
4. Leia o sinal referente à operação que o usuário deseja realizar entre esses dois números
5. Imprima o resultado da operação entre os dois números

Fim

In [27]:
4print("Calculadora Simples")
n1 = float(input("Digite o Primeiro Número: "))
n2 = float(input("Digite o Segundo Número: "))
op = input("Digite a operação (+, -, /, *): ")

if op == "+":
    result = n1 + n2
elif op == "-" :
    result = n1 + n2
elif op == "*":
    result = n1*n2
elif op == "/":
    result = n1/n2

print("O resultado é: ", result)

Calculadora Simples
Digite o Primeiro Número: 4
Digite o Segundo Número: 44
Digite a operação (+, -, /, *): /
O resultado é:  0.09090909090909091

## Bubble Sort

Inicio

    Para cada elemento i do array de tamanho n
        Para cada elemento j do array de tamanho n-1
            Se i > j:
                troque i com j

Fim

In [26]:
import random

tam = 10

# Gerando lista com números aleatórios num intervalo de 1 a 10
lst_num = [random.randint(1, 10) for i in range(tam)]
print(lst_num)

# Funcao que executa o algoritmo BubbleSort
def BubbleSort(arr):
    for i in range(len(arr)):
        for j in range(len(arr)-i-1):
            if lst_num[j] > lst_num[j+1]:
                lst_num[j], lst_num[j+1] = lst_num[j+1], lst_num[j]
    return arr

print(BubbleSort(lst_num))

[5, 5, 9, 1, 9, 1, 6, 5, 6, 9]
[1, 1, 5, 5, 5, 6, 6, 9, 9, 9]

## Relembrando strings, listas e propriedades

### Strings

In [3]:
#indexação de strings

s = "Aprender Python é Bacana"
print(s)

Aprender Python é Bacana

In [4]:
print(s[:3]) #imprimindo sequência de caracteres até o index 3

Apr

In [5]:
print(s[:-1]) #imprimindo caracteres até o index -1, ou seja o último caractere

Aprender Python é Bacan

In [6]:
print(s[::3]) #imprime 1 salta 2

AeePh Ba

In [7]:
print(s[::-1]) #inverte a sequência de caracteres

anacaB é nohtyP rednerpA

In [8]:
print(s[4:]) #do quarto caractere pra frente

nder Python é Bacana

### Listas

In [9]:
lista = ["Cientista de Dados", "Engenheiro de Dados"]
lista

['Cientista de Dados', 'Engenheiro de Dados']

In [10]:
lista.append("Analista de Dados") #inserindo elementos em uma lista criada
lista

['Cientista de Dados', 'Engenheiro de Dados', 'Analista de Dados']

In [11]:
# Copiando elementos de uma lista na outra

lst1 = ["Banana", "Maçã", "Jabuticaba", "Pêra"]
lst2 = []

for item in lst1:
    lst2.append(item)

print(lst2)

lst2.append("Jaca") #acrescentando "Jaca" na lista 2
del lst1[1] #removendo Maçã da lista 1

print(lst2)
print(lst1)

['Banana', 'Maçã', 'Jabuticaba', 'Pêra']
['Banana', 'Maçã', 'Jabuticaba', 'Pêra', 'Jaca']
['Banana', 'Jabuticaba', 'Pêra']

In [12]:
# Inserindo vários elementos de uma só vez na lista

lst2.extend(["Kiwi", "Jamelão"])
print(lst2)

['Banana', 'Maçã', 'Jabuticaba', 'Pêra', 'Jaca', 'Kiwi', 'Jamelão']

In [13]:
# Podemos também recuperar o índice referente a cada um dos elementos

teste = lst2.index("Pêra")
teste

3

In [14]:
# Podemos também inserir um elemento numa posição específica, assim "empurrando os elementos à frente"

lst2.insert(2, "Abacaxi")
lst2

['Banana', 'Maçã', 'Abacaxi', 'Jabuticaba', 'Pêra', 'Jaca', 'Kiwi', 'Jamelão']

In [15]:
# Podemos também removê-lo
lst2.remove("Abacaxi")
lst2

['Banana', 'Maçã', 'Jabuticaba', 'Pêra', 'Jaca', 'Kiwi', 'Jamelão']

In [16]:
# Podemos também inverter os elementos da lista
lst2.reverse()
lst2

['Jamelão', 'Kiwi', 'Jaca', 'Pêra', 'Jabuticaba', 'Maçã', 'Banana']

In [18]:
# Podemos também ordenar os elementos da lista

In [21]:
lst2.sort()
lst2

['Banana', 'Jabuticaba', 'Jaca', 'Jamelão', 'Kiwi', 'Maçã', 'Pêra']

### Dicionários

Os dicionários tem uma propriedade específica que "amarra" pares "Chave x Valor", por exemplo, no caso abaixo conseguimos amarrar a chave "nome" com o valor "idade"

In [24]:
estudantes_dic = {"Ana": 25, "Bruno": 22, "Carlos":24, "Daniel":30}
estudantes_dic

{'Ana': 25, 'Bruno': 22, 'Carlos': 24, 'Daniel': 30}